.transaction-table{
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;

    border-radius: 20px;
    background-color: #EADDDB;
    border: 3px solid #1D272F;
    min-width: 100%;
}
.transaction-table td{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    color: #1D272F;
    transition: all 0.3s ease;
}
.amount{
    font-weight: 700;
}
.income-amount{
    color: green !important;
}
.expense-amount{
    color: red !important;
}
.transaction-description {
    display: inline-block;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
@media (max-width: 600px) {
    .transaction-table{
        gap: 0px;
    }
    .transaction-table .type-column,
    .transaction-table .date-column {
        display: none;
    }
  
    .transaction-table .category-title {
        display: none;
    }
  
    .transaction-table .category-icon {
        display: flex;
        justify-content: center;
    }
    .transaction-table td{
        background-color: transparent;
        border-radius: 0px;
        border-bottom: 1px solid #1D272F;
        transition: all 0.3s ease;
    }
}
  
.category-icon {
    font-size: 1.5em;
}